<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ICategorize" >
  <resultMap id="BaseResultMap" type="com.entity.Categorize" >
    <id column="fc_id" property="fcId" jdbcType="INTEGER" />
    <result column="fc_name" property="fcName" jdbcType="VARCHAR" />
   <collection property="subs" ofType="com.entity.Subclassification" column="fc_id" javaType="java.util.List" >
     <id column="fs_id" property="fsId" jdbcType="INTEGER" />
     <result column="fs_name" property="fsName" jdbcType="VARCHAR" />
     <result column="fc_id" property="fcId" jdbcType="INTEGER" />
   </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    fc_id, fc_name
  </sql>

  <select id="selectAllc" resultMap="BaseResultMap">
   SELECT *  FROM flower_categorize AS c
    INNER JOIN flower_subclassification AS s ON c.fc_id=s.fc_id
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flower_categorize
    where fc_id = #{fcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flower_categorize
    where fc_id = #{fcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Categorize" >
    insert into flower_categorize (fc_id, fc_name)
    values (#{fcId,jdbcType=INTEGER}, #{fcName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Categorize" >
    insert into flower_categorize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fcId != null" >
        fc_id,
      </if>
      <if test="fcName != null" >
        fc_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fcId != null" >
        #{fcId,jdbcType=INTEGER},
      </if>
      <if test="fcName != null" >
        #{fcName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Categorize" >
    update flower_categorize
    <set >
      <if test="fcName != null" >
        fc_name = #{fcName,jdbcType=VARCHAR},
      </if>
    </set>
    where fc_id = #{fcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Categorize" >
    update flower_categorize
    set fc_name = #{fcName,jdbcType=VARCHAR}
    where fc_id = #{fcId,jdbcType=INTEGER}
  </update>
</mapper>