<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IDesigner" >
  <resultMap id="BaseResultMap" type="com.entity.Designer" >
    <id column="fd_id" property="fdId" jdbcType="INTEGER" />
    <result column="fd_uid" property="fdUid" jdbcType="INTEGER" />
    <result column="fd_truename" property="fdTruename" jdbcType="VARCHAR" />
    <result column="fd_qq" property="fdQq" jdbcType="VARCHAR" />
    <result column="fd_intro" property="fdIntro" jdbcType="VARCHAR" />
    <result column="fd_address" property="fdAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fd_id, fd_uid, fd_truename, fd_qq, fd_intro, fd_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flower_designer
    where fd_id = #{fdId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flower_designer
    where fd_id = #{fdId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Designer" >
    insert into flower_designer (fd_id, fd_uid, fd_truename, 
      fd_qq, fd_intro, fd_address
      )
    values (#{fdId,jdbcType=INTEGER}, #{fdUid,jdbcType=INTEGER}, #{fdTruename,jdbcType=VARCHAR}, 
      #{fdQq,jdbcType=VARCHAR}, #{fdIntro,jdbcType=VARCHAR}, #{fdAddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Designer" >
    insert into flower_designer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fdId != null" >
        fd_id,
      </if>
      <if test="fdUid != null" >
        fd_uid,
      </if>
      <if test="fdTruename != null" >
        fd_truename,
      </if>
      <if test="fdQq != null" >
        fd_qq,
      </if>
      <if test="fdIntro != null" >
        fd_intro,
      </if>
      <if test="fdAddress != null" >
        fd_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fdId != null" >
        #{fdId,jdbcType=INTEGER},
      </if>
      <if test="fdUid != null" >
        #{fdUid,jdbcType=INTEGER},
      </if>
      <if test="fdTruename != null" >
        #{fdTruename,jdbcType=VARCHAR},
      </if>
      <if test="fdQq != null" >
        #{fdQq,jdbcType=VARCHAR},
      </if>
      <if test="fdIntro != null" >
        #{fdIntro,jdbcType=VARCHAR},
      </if>
      <if test="fdAddress != null" >
        #{fdAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Designer" >
    update flower_designer
    <set >
      <if test="fdUid != null" >
        fd_uid = #{fdUid,jdbcType=INTEGER},
      </if>
      <if test="fdTruename != null" >
        fd_truename = #{fdTruename,jdbcType=VARCHAR},
      </if>
      <if test="fdQq != null" >
        fd_qq = #{fdQq,jdbcType=VARCHAR},
      </if>
      <if test="fdIntro != null" >
        fd_intro = #{fdIntro,jdbcType=VARCHAR},
      </if>
      <if test="fdAddress != null" >
        fd_address = #{fdAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where fd_id = #{fdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Designer" >
    update flower_designer
    set fd_uid = #{fdUid,jdbcType=INTEGER},
      fd_truename = #{fdTruename,jdbcType=VARCHAR},
      fd_qq = #{fdQq,jdbcType=VARCHAR},
      fd_intro = #{fdIntro,jdbcType=VARCHAR},
      fd_address = #{fdAddress,jdbcType=VARCHAR}
    where fd_id = #{fdId,jdbcType=INTEGER}
  </update>
</mapper>