<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IExtendeds" >
  <resultMap id="BaseResultMap" type="com.entity.Extendeds" >
    <id column="fes_id" property="fesId" jdbcType="INTEGER" />
    <result column="fe_id" property="feId" jdbcType="INTEGER" />
    <result column="fg_id" property="fgId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fes_id, fe_id, fg_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flower_extendeds
    where fes_id = #{fesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flower_extendeds
    where fes_id = #{fesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Extendeds" >
    insert into flower_extendeds (fes_id, fe_id, fg_id
      )
    values (#{fesId,jdbcType=INTEGER}, #{feId,jdbcType=INTEGER}, #{fgId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Extendeds" >
    insert into flower_extendeds
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fesId != null" >
        fes_id,
      </if>
      <if test="feId != null" >
        fe_id,
      </if>
      <if test="fgId != null" >
        fg_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fesId != null" >
        #{fesId,jdbcType=INTEGER},
      </if>
      <if test="feId != null" >
        #{feId,jdbcType=INTEGER},
      </if>
      <if test="fgId != null" >
        #{fgId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Extendeds" >
    update flower_extendeds
    <set >
      <if test="feId != null" >
        fe_id = #{feId,jdbcType=INTEGER},
      </if>
      <if test="fgId != null" >
        fg_id = #{fgId,jdbcType=INTEGER},
      </if>
    </set>
    where fes_id = #{fesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Extendeds" >
    update flower_extendeds
    set fe_id = #{feId,jdbcType=INTEGER},
      fg_id = #{fgId,jdbcType=INTEGER}
    where fes_id = #{fesId,jdbcType=INTEGER}
  </update>
</mapper>