<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IOrder" >
  <resultMap id="BaseResultMap" type="com.entity.Order" >
    <id column="for_id" property="forId" jdbcType="VARCHAR" />
    <result column="for_sid" property="forSid" jdbcType="INTEGER" />
    <result column="for_state" property="forState" jdbcType="INTEGER" />
    <result column="for_date" property="forDate" jdbcType="TIMESTAMP" />
    <result column="for_payment" property="forPayment" jdbcType="VARCHAR" />
    <result column="for_type" property="forType" jdbcType="VARCHAR" />
    <result column="for_money" property="forMoney" jdbcType="INTEGER" />
    <result column="fes_id" property="fesId" jdbcType="INTEGER" />
    <result column="for_urgent" property="forUrgent" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    for_id, for_sid, for_state, for_date, for_payment, for_type, for_money, fes_id, for_urgent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flower_order
    where for_id = #{forId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flower_order
    where for_id = #{forId,jdbcType=INTEGER}
  </delete>


  <!--添加订单-->
  <insert id="insertOrder" parameterType="com.entity.Order">
        INSERT INTO `flower_order`(`for_id`,`for_sid`,`for_state`,`for_money`)
        VALUE(#{forId,jdbcType=VARCHAR}, #{forSid,jdbcType=INTEGER},#{forState,jdbcType=INTEGER},#{forMoney,jdbcType=INTEGER})
  </insert>


  <insert id="insert" parameterType="com.entity.Order" >
    insert into flower_order (for_id, for_sid, for_state, 
      for_date, for_payment, for_type, 
      for_money, fes_id, for_urgent
      )
    values (#{forId,jdbcType=VARCHAR}, #{forSid,jdbcType=INTEGER}, #{forState,jdbcType=INTEGER},
      #{forDate,jdbcType=TIMESTAMP}, #{forPayment,jdbcType=VARCHAR}, #{forType,jdbcType=VARCHAR}, 
      #{forMoney,jdbcType=INTEGER}, #{fesId,jdbcType=INTEGER}, #{forUrgent,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Order" >
    insert into flower_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="forId != null" >
        for_id,
      </if>
      <if test="forSid != null" >
        for_sid,
      </if>
      <if test="forState != null" >
        for_state,
      </if>
      <if test="forDate != null" >
        for_date,
      </if>
      <if test="forPayment != null" >
        for_payment,
      </if>
      <if test="forType != null" >
        for_type,
      </if>
      <if test="forMoney != null" >
        for_money,
      </if>
      <if test="fesId != null" >
        fes_id,
      </if>
      <if test="forUrgent != null" >
        for_urgent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="forId != null" >
        #{forId,jdbcType=VARCHAR},
      </if>
      <if test="forSid != null" >
        #{forSid,jdbcType=INTEGER},
      </if>
      <if test="forState != null" >
        #{forState,jdbcType=INTEGER},
      </if>
      <if test="forDate != null" >
        #{forDate,jdbcType=TIMESTAMP},
      </if>
      <if test="forPayment != null" >
        #{forPayment,jdbcType=VARCHAR},
      </if>
      <if test="forType != null" >
        #{forType,jdbcType=VARCHAR},
      </if>
      <if test="forMoney != null" >
        #{forMoney,jdbcType=INTEGER},
      </if>
      <if test="fesId != null" >
        #{fesId,jdbcType=INTEGER},
      </if>
      <if test="forUrgent != null" >
        #{forUrgent,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Order" >
    update flower_order
    <set >
      <if test="forSid != null" >
        for_sid = #{forSid,jdbcType=INTEGER},
      </if>
      <if test="forState != null" >
        for_state = #{forState,jdbcType=INTEGER},
      </if>
      <if test="forDate != null" >
        for_date = #{forDate,jdbcType=TIMESTAMP},
      </if>
      <if test="forPayment != null" >
        for_payment = #{forPayment,jdbcType=VARCHAR},
      </if>
      <if test="forType != null" >
        for_type = #{forType,jdbcType=VARCHAR},
      </if>
      <if test="forMoney != null" >
        for_money = #{forMoney,jdbcType=INTEGER},
      </if>
      <if test="fesId != null" >
        fes_id = #{fesId,jdbcType=INTEGER},
      </if>
      <if test="forUrgent != null" >
        for_urgent = #{forUrgent,jdbcType=INTEGER},
      </if>
    </set>
    where for_id = #{forId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Order" >
    update flower_order
    set for_sid = #{forSid,jdbcType=INTEGER},
      for_state = #{forState,jdbcType=INTEGER},
      for_date = #{forDate,jdbcType=TIMESTAMP},
      for_payment = #{forPayment,jdbcType=VARCHAR},
      for_type = #{forType,jdbcType=VARCHAR},
      for_money = #{forMoney,jdbcType=INTEGER},
      fes_id = #{fesId,jdbcType=INTEGER},
      for_urgent = #{forUrgent,jdbcType=INTEGER}
    where for_id = #{forId,jdbcType=VARCHAR}
  </update>
</mapper>