<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IOriginal" >
  <resultMap id="BaseResultMap" type="com.entity.Original" >
    <id column="fo_id" property="foId" jdbcType="INTEGER" />
    <result column="fo_userid" property="foUserid" jdbcType="INTEGER" />
    <result column="fo_draw" property="foDraw" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fo_id, fo_userid, fo_draw
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flower_original
    where fo_id = #{foId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flower_original
    where fo_id = #{foId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Original" >
    insert into flower_original (fo_id, fo_userid, fo_draw
      )
    values (#{foId,jdbcType=INTEGER}, #{foUserid,jdbcType=INTEGER}, #{foDraw,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Original" >
    insert into flower_original
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foId != null" >
        fo_id,
      </if>
      <if test="foUserid != null" >
        fo_userid,
      </if>
      <if test="foDraw != null" >
        fo_draw,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foId != null" >
        #{foId,jdbcType=INTEGER},
      </if>
      <if test="foUserid != null" >
        #{foUserid,jdbcType=INTEGER},
      </if>
      <if test="foDraw != null" >
        #{foDraw,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Original" >
    update flower_original
    <set >
      <if test="foUserid != null" >
        fo_userid = #{foUserid,jdbcType=INTEGER},
      </if>
      <if test="foDraw != null" >
        fo_draw = #{foDraw,jdbcType=INTEGER},
      </if>
    </set>
    where fo_id = #{foId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Original" >
    update flower_original
    set fo_userid = #{foUserid,jdbcType=INTEGER},
      fo_draw = #{foDraw,jdbcType=INTEGER}
    where fo_id = #{foId,jdbcType=INTEGER}
  </update>
</mapper>