<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/touch-icon.png" sizes="76*76">
    <title>发现</title>

    <link rel="stylesheet" type="text/css" href="css/index-find1.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/Main.css"/>
    <script type="application/javascript" src="js/vue.js"></script>
    <script type="application/javascript" src="js/jquery-3.1.1.js"></script>
</head>

<body>
<div class="header_nav " id="nav_top">
    <div class="container">
        <div id="header" class="" style="left: 0px;">
            <div class="wrapper" style="width: 992px;">
                <div class="menu-bar">
                    <div class="left-part">
                        <a id="huaban" href="/"></a>
                        <a href="index-find1.html" data-title="home" class="header-item ">首页</a>
                        <a href="faxian.html" class="header-item active">发现</a>
                        <a href="petal_bizi.html" class="header-item ">最新</a>
                        <div class="menu-nav">
                            <div class="header-main-menu">
                                <div class="top-module">
                                    <a href="http://meia.me" target="_blank" rel="noopener noreferrer" class="text app-link meia">教育</a>
                                    <a href="/apps/" rel="nofollow" class="text app-link">移动应用</a>
                                    <a href="/about/goodies/" rel="nofollow" class="text repin-link">采集工具</a>
                                </div>
                                <div id="category_more" class="middle-module clearfix">
                                    <div class="col-1 col">
                                        <a href="/favorite/web_app_icon/" rel="nofollow" data-id="web_app_icon" class="category-link">UI/UX</a>
                                        <a href="/favorite/design/" rel="nofollow" data-id="design" class="category-link">平面</a>
                                        <a href="/favorite/illustration/" rel="nofollow" data-id="illustration" class="category-link">插画/漫画</a>
                                        <a href="/favorite/home/" rel="nofollow" data-id="home" class="category-link">家居/家装</a>
                                        <a href="/favorite/apparel/" rel="nofollow" data-id="apparel" class="category-link">女装/搭配</a>
                                    </div>
                                    <div class="col-2 col">
                                        <a href="/favorite/men/" rel="nofollow" data-id="men" class="category-link">男士/风尚</a>
                                        <a href="/favorite/wedding_events/" rel="nofollow" data-id="wedding_events" class="category-link">婚礼</a>
                                        <a href="/favorite/industrial_design/" rel="nofollow" data-id="industrial_design" class="category-link">工业设计</a>
                                        <a href="/favorite/photography/" rel="nofollow" data-id="photography" class="category-link">摄影</a>
                                        <a href="/categories/" rel="nofollow" data-id="more" class="all-categories-link category-link">兴趣/生活 »</a>
                                    </div>
                                </div>
                                <div class="bottom-module clearfix">
                                    <div icon="pin-icon" onclick="app.switchHeaderTo('side');return false;" class="to-side"></div>
                                    <div class="links">
                                        <a href="/about/" rel="nofollow">关于</a><span>·</span>
                                        <a href="https://faq.huaban.com/" target="_blank" rel="noopener noreferrer">帮助中心</a><span>·</span>
                                        <a href="/pins/53553/" rel="nofollow">反馈</a><span>·</span>
                                        <a href="https://blog.huaban.com/" rel="nofollow" style="margin-right: 0;">博客</a>
                                    </div>
                                    <div class="up-arrow"></div>
                                </div>
                            </div>
                        </div>
                        <a class="header-item cut-off"></a>
                        <a href="/activities/" rel="nofollow" class="header-item">活动</a>
                        <a href="http://www.meisupic.com/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣美素" class="header-item meisu">美素</a>
                        <a href="https://muse.huaban.com/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣美思" class="header-item meisi">设计服务</a>
                        <a href="http://live.huaban.com/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣LIVE" class="header-item live">花瓣LIVE</a>
                        <a href="/partner/meiwu/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣美物" class="header-item">美物</a>
                    </div>
                    <div class="right-part">
                        <a style="display: none" href="#" onclick="return false;" class="go-mobile btn rbtn"><span class="text"> 访问移动版</span></a>
                        <div class="login-nav">
                            <a onclick="app.requireLogin('', {to: 'login'});return false;" rel="nofollow" href="#" class="login bounce btn wbtn"><span class="text"> 登录</span></a>
                            <a href="/signup/" onclick="app.requireLogin();return false;" rel="nofollow" class="register bounce btn rbtn"><span class="text"> 注册</span></a>
                        </div>
                    </div>
                    <div style="padding-top: 3px;">
                        <form id="search_form" method="get" action="/search/" class="searching-unit" data-regestered="regestered">
                            <div data-value="pins" class="SelectOption">
                                <div class="line">
                                    <div class="text">采集</div><i class="icon"></i></div>
                            </div><input id="query" type="text" size="27" name="q" autocomplete="off" placeholder="搜索你喜欢的" value="" style="padding-left: 68px;"><input name="type" value="" type="hidden">
                            <a href="#" onclick="return false;" class="go"></a>
                        </form>
                        <div class="search-hint"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-search lf">
            <input type="text" placeholder="搜索你喜欢的"/>
            <a href="" class=""></a>
        </div>

        <div class="header_nav_right rt">

            <!--注册登录成功后用户名处下拉菜单-->
            <ul></ul>
        </div>
    </div>
</div>
<div class="contant">
    <div class="follow">
        <h1>
            <hr>
            大家正在关注
            <hr>
        </h1>
        <ul class="list">
            <li data-text="SD娃娃" data-href="1">
                <a href="#">SD娃娃</a>
            </li>
            <li data-text="旧物改造" data-href="2">
                <a href="#">旧物改造</a>
            </li>
            <li data-text="古风海报" data-href="3">
                <a href="#">古风海报</a>
            </li>
            <li data-text="简笔画" data-href="4">
                <a href="#">简笔画</a>
            </li>
            <li data-text="夜景手机壁纸" data-href="5">
                <a href="#">夜景手机壁纸</a>
            </li>
            <li data-text="杨洋" data-href="6">
                <a href="#">杨洋</a>
            </li>
            <li data-text="条纹服饰" data-href="7">
                <a href="#">条纹服饰</a>
            </li>
        </ul>
    </div>
    <div class="recommend">
        <h1>
            <hr>
            为您推荐
            <hr>
        </h1>
        <div id="content" style="position: relative;height: 790px;">
            <div v-for="huab in huabs" class="Board wfc ">
                <a href="/boards/15906578/" target="_blank" class="link  x">
                    <img v-for="(item,index) in huab.gathers" :src="'img/'+item.img" :class="{large:index==0}">
                    <div class="shadows">
                        <div class="large-shadow"></div>
                        <div class="shadow"></div>
                        <div class="shadow"></div>
                        <div class="shadow"></div>
                    </div>
                </a><span class="attr-mark"></span>

                <div class="FollowBoard2">
                    <a href="/morvsin/" title="Morvsin" class="img x loaded">
                        <img src="img/recommend34.jpg" data-baiduimageplus-ignore="1" class="BoardAvatar"></a>
                    <a href="/morvsin/" class="BoardUserUrl x">Morvsin</a>
                    <a data-id="15906578" href="#" onclick="return false;" class="follow btn wbtn"><strong>
                        关注</strong><span></span></a>
                </div>
            </div>
        </div>
        <script>
            var huabinfo = new Vue({
                el: "#content",
                data: {
                    huabs: [{
                        gather: [{img: ""}]
                    }]
                }
            });
            window.load = show();

            function show() {
                $.ajax({
                    type: "post",
                    url: "hong",
                    dataType: "json",
                    success: function (data) {
                        huabinfo.huabs = data;
                    }
                });
            }
        </script>
        <h2>
        </h2>
    </div>
    <div class="classify">
        <div class="classify-title">
            <span>以分类浏览花瓣</span>

            <p class="rt">
                <a href="#">所有采集 &gt;&gt;</a>
            </p>
        </div>
        <div class="classify-box">
            <ul class=" lf">
                <li>
                    <a href="#">UI/UX</a>
                </li>
                <li>
                    <a href="#">平面</a>
                </li>
                <li>
                    <a href="#">插画/漫画</a>
                </li>
                <li>
                    <a href="#">家具/家装</a>
                </li>
                <li>
                    <a href="#">女装/搭配</a>
                </li>
                <li>
                    <a href="#">男式/风尚</a>
                </li>
                <li>
                    <a href="#">婚礼</a>
                </li>
            </ul>
            <ul class=" lf">
                <li>
                    <a href="#">工业设计</a>
                </li>
                <li>
                    <a href="#">摄影</a>
                </li>
                <li>
                    <a href="#">造型/美装</a>
                </li>
                <li>
                    <a href="#">美食</a>
                </li>
                <li>
                    <a href="#">旅行</a>
                </li>
                <li>
                    <a href="#">手工/布艺</a>
                </li>
                <li>
                    <a href="#">健身/舞蹈</a>
                </li>
            </ul>
            <ul class=" lf">
                <li>
                    <a href="#">儿童</a>
                </li>
                <li>
                    <a href="#">宠物</a>
                </li>
                <li>
                    <a href="#">美图</a>
                </li>
                <li>
                    <a href="#">明星</a>
                </li>
                <li>
                    <a href="#">美女</a>
                </li>
                <li>
                    <a href="#">礼物</a>
                </li>
                <li>
                    <a href="#">极客</a>
                </li>
            </ul>
            <ul class=" lf">
                <li>
                    <a href="#">动漫</a>
                </li>
                <li>
                    <a href="#">建筑设计</a>
                </li>
                <li>
                    <a href="#">人文艺术</a>
                </li>
                <li>
                    <a href="#">数据图</a>
                </li>
                <li>
                    <a href="#">游戏</a>
                </li>
                <li>
                    <a href="#">汽车/摩托</a>
                </li>
                <li>
                    <a href="#">电影/图书</a>
                </li>
            </ul>
            <ul class=" lf">
                <li>
                    <a href="#">生活百科</a>
                </li>
                <li>
                    <a href="#">教育</a>
                </li>
                <li>
                    <a href="#">运动</a>
                </li>
                <li>
                    <a href="#">搞笑</a>
                </li>
            </ul>
        </div>
    </div>

</div>

<footer id="footer">
    <div>
        <ul>
            <li>
                <a href="#" class="title">花瓣首页</a>
            </li>
            <li>
                <a href="#">花瓣采集工具</a>
            </li>
            <li>
                <a href="#">花瓣官方博客</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#" class="title">联系与合作</a>
            </li>
            <li>
                <a href="#">联系我们</a>
            </li>
            <li>
                <a href="#">用户反馈</a>
            </li>
            <li>
                <a href="#">花瓣LOGO标准文档</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#" class="title">移动客户端</a>
            </li>
            <li>
                <a href="#">花瓣 iPhone 版</a>
            </li>
            <li>
                <a href="#">花瓣 Android 版</a>
            </li>
            <li>
                <a href="#">花瓣 HD</a>
            </li>
        </ul>
        <div class="rt">
            <a href="#" class="title">关注我们</a><br>
            <a href="#">新浪微博：@花瓣网</a><br>
            <a href="#">官方 QQ：188126952</a><br>
            <a href="#" class="gfwx">官方微信：<img src="img/sweixin.png">
                <img src="img/weixin_huaban.png" class="wx">
            </a><br>
            <a href="#"><img src="img/sm.png"></a>
        </div>
    </div>
    <div class="bottom">
        <p>© Huaban 杭州纬聚网络有限公司&nbsp;&nbsp;|&nbsp;&nbsp;浙公网安备 33010602001878号</p>
    </div>
</footer>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/index-find.js"></script>
</body>

</html>