<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/touch-icon.png" sizes="76*76">
    <title>花瓣网_陪你做生活的设计师</title>
    <link rel="stylesheet" type="text/css" href="css/index-find1.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/Main.css"/>
    <script src="js/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="js/Here with you.js" type="text/javascript"></script>
    <script src="js/vue.js"></script>
</head>

<body>
<header>
    <!--广告轮播-->
    <div id="slider">
        <ul id="imgs">
            <li><img src="img/banner2.jpg"></li>
        </ul>
    </div>
    <!--导航条-->
    <div class="header_nav " id="nav_top">
        <div class="container">
        <div id="header" class="" style="left: 0px;">
			<div class="wrapper" style="width: 992px;">
				<div class="menu-bar">
					<div class="left-part">
						<a id="huaban" href="/"></a>
						<a href="/" data-title="home" class="header-item active">首页</a>
                        <a href="faxian.html" class="header-item ">发现</a>
                        <a href="petal_bizi.html" class="header-item ">最新</a>
						<div class="menu-nav" >
							<div class="header-main-menu">
								<div class="top-module">
									<a href="http://meia.me" target="_blank" rel="noopener noreferrer" class="text app-link meia">教育</a>
									<a href="/apps/" rel="nofollow" class="text app-link">移动应用</a>
									<a href="/about/goodies/" rel="nofollow" class="text repin-link">采集工具</a>
								</div>
								<div id="category_more" class="middle-module clearfix">
									<div class="col-1 col">
										<a href="/favorite/web_app_icon/" rel="nofollow" data-id="web_app_icon" class="category-link">UI/UX</a>
										<a href="/favorite/design/" rel="nofollow" data-id="design" class="category-link">平面</a>
										<a href="/favorite/illustration/" rel="nofollow" data-id="illustration" class="category-link">插画/漫画</a>
										<a href="/favorite/home/" rel="nofollow" data-id="home" class="category-link">家居/家装</a>
										<a href="/favorite/apparel/" rel="nofollow" data-id="apparel" class="category-link">女装/搭配</a>
									</div>
									<div class="col-2 col">
										<a href="/favorite/men/" rel="nofollow" data-id="men" class="category-link">男士/风尚</a>
										<a href="/favorite/wedding_events/" rel="nofollow" data-id="wedding_events" class="category-link">婚礼</a>
										<a href="/favorite/industrial_design/" rel="nofollow" data-id="industrial_design" class="category-link">工业设计</a>
										<a href="/favorite/photography/" rel="nofollow" data-id="photography" class="category-link">摄影</a>
										<a href="/categories/" rel="nofollow" data-id="more" class="all-categories-link category-link">兴趣/生活 »</a>
									</div>
								</div>
								<div class="bottom-module clearfix">
									<div icon="pin-icon" onclick="app.switchHeaderTo('side');return false;" class="to-side"></div>
									<div class="links">
										<a href="/about/" rel="nofollow">关于</a><span>·</span>
										<a href="https://faq.huaban.com/" target="_blank" rel="noopener noreferrer">帮助中心</a><span>·</span>
										<a href="/pins/53553/" rel="nofollow">反馈</a><span>·</span>
										<a href="https://blog.huaban.com/" rel="nofollow" style="margin-right: 0;">博客</a>
									</div>
									<div class="up-arrow"></div>
								</div>
							</div>
						</div>
						<a class="header-item cut-off"></a>
						<a href="/activities/" rel="nofollow" class="header-item">活动</a>
						<a href="http://www.meisupic.com/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣美素" class="header-item meisu">美素</a>
						<a href="https://muse.huaban.com/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣美思" class="header-item meisi">设计服务</a>
						<a href="http://live.huaban.com/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣LIVE" class="header-item live">花瓣LIVE</a>
						<a href="/partner/meiwu/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣美物" class="header-item">美物</a>
					</div>
					<div class="right-part">
						<a style="display: none" href="#" onclick="return false;" class="go-mobile btn rbtn"><span class="text"> 访问移动版</span></a>
						<div class="login-nav">
							<a  href="#" class="login bounce btn wbtn"><span class="text"> 登录</span></a>
							<a href="#"  class="register bounce btn rbtn"><span class="text"> 注册</span></a>
						</div>
					</div>
					<div style="padding-top: 3px;">
						<form id="search_form" method="get" action="/search/" class="searching-unit" data-regestered="regestered">
							<div data-value="pins" class="SelectOption">
								<div class="line">
									<div class="text">采集</div><i class="icon"></i></div>
							</div><input id="query" type="text" size="27" name="q" autocomplete="off" placeholder="搜索你喜欢的" value="" style="padding-left: 68px;"><input name="type" value="" type="hidden">
							<a href="#" onclick="return false;" class="go"></a>
						</form>
						<div class="search-hint"></div>
					</div>
				</div>
			</div>
		</div>

            <div class="nav-search lf">
                <input type="text" placeholder="搜索你喜欢的"/>
                <a href="" class=""></a>
            </div>

            <div class="header_nav_right rt">
                <ul>
                    <li>
                        <button id="login">登录</button>
                        <!--<i class="nav-icon"></i>-->
                    </li>

                    <li >
                        <button id="regis">注册</button>
                        <!--<span>欢迎回来:134****9003</span>-->

                    </li>
                </ul>
                <!--注册登录成功后用户名处下拉菜单-->
                 <ul></ul>
            </div>
        </div>
    </div>
    <h1>花瓣，陪你做生活的设计师</h1>

    <form>
        <input type="text" placeholder=" 搜索你喜欢的" value="">
        <a href="#" class="search"></a>
    </form>
    <div id="hot_words">
        <span>热门搜索：</span>
        <a href="#">匠人匠心</a>
        <span>,</span>
        <a href="#">朋友圈配图</a>
        <span>,</span>
        <a href="#">公共空间设计</a>
        <span>,</span>
        <a href="#">原创插图</a>
    </div>
    <div id="wrapper">
        <span>图片：</span>
        <a href="#"></a>
    </div>

</header>
<div class="contant">
    <div class="follow">
        <h1>
            <hr>
            大家正在关注
            <hr>
        </h1>
        <ul class="list">
            <li data-text="SD娃娃" data-href="1"><a href="">SD娃娃</a></li>
            <li data-text="旧物改造" data-href="2"><a href="">旧物改造</a></li>
            <li data-text="古风海报" data-href="3"><a href="">古风海报</a></li>
            <li data-text="简笔画" data-href="4"><a href="">简笔画</a></li>
            <li data-text="夜景手机壁纸" data-href="5"><a href="">夜景手机壁纸</a></li>
            <li data-text="杨洋" data-href="6"><a href="">杨洋</a></li>
            <li data-text="条纹服饰" data-href="7"><a href="">条纹服饰</a></li>
        </ul>
    </div>
    <div class="recommend">
        <h1>
            <hr>
            为您推荐
            <hr>
        </h1>
        <div class="wrapper" style="width:1200px">
            <div id="waterfall" style="width: 1200px;height: 1000px">
                <div data-id="341535979" v-for="gather in gathers" v-if="gather.gid != 0" class="pin wfc "
                     style="position: absolute; left: 0; top: 0; opacity: 1;">
                    <div class="hidden">
                        <a href="/s555888_/">{{gather.user.uname}}</a>采集到
                        <a href="/boards/4036688">{{gather.hname}}</a>
                    </div>
                    <div class="actions">
                        <div class="right">
                            <a data-id="341535979" title="喜欢" href="#" onclick="return false;"
                               class="like btn-with-icon btn btn14"><i class="heart"></i><span class="text"> {{gather.love}}</span></a>
                        </div>
                        <div class="left">
                            <a onclick="app.requireLogin(function(){ app.showDialogBox('repin', {pin_id:'341535979'});});return false;"
                               href="#" class="repin pin-default btn btn14 rbtn">
                                <span class="text"> 采集</span></a>
                            <a href="#" onclick="return false;" class="repin pin-quick btn btn14 rbtn"><img
                                    src="img/quick_pin.svg"></a>
                        </div>
                    </div>
                    <a :href="'http://localhost:8080/huaban/info.html?gid='+gather.gid" target="_self" rel=""
                       class="img x layer-view loaded">
                        <div class="default-bg">pinterest.com</div>
                        <img :src="getGatherImg(gather.img)" width="236" height="100%">
                        <span style="display: none" class="stop"></span>
                        <div class="cover"></div>
                    </a>
                    <p class="description">{{gather.details}}</p>
                    <p class="stats less"><span title="转采" class="repin"><i></i>{{gather.transpond}}</span><span
                            title="喜欢" class="like"><i></i>{{gather.love}}</span></p>
                    <div class="convo attribution clearfix">
                        <a href="/s555888_/" :title="gather.user.uname" rel="nofollow" class="img x"><img
                                :src="getUserImg(gather.user.img)" class="avt"></a>
                        <div class="text">
                            <div class="inner">
                                <div class="line">
                                    <a href="/s555888_/" rel="" class="author x">{{gather.user.uname}}</a>&nbsp;采集到
                                </div>
                                <div class="line">
                                    <a href="/boards/4036688/" rel="" class="x">{{gather.hname}}</a>
                                </div>
                                <a title="评论" class="replyButton"></a>
                            </div>
                        </div>
                    </div>
                    <div style="display:none;" class="comments muted"></div>
                    <div style="display: none;" class="write convo clearfix">
                        <a href="//" title="" class="img x"><img :src="gather.img"></a>
                        <form action="" method="POST"><textarea placeholder="添加评论或把采集@给好友"
                                                                class="clear-input GridComment"></textarea>
                            <a href="#" onclick="return false;" class="grid_comment_button btn"><span
                                    class="text"> 添加评论</span></a>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="classify">
        <div class="classify-title">
            <span>以分类浏览花瓣</span>

            <p class="rt"><a href="#">所有采集 &gt;&gt;</a></p>
        </div>
        <div class="classify-box">
            <ul class=" lf">
                <li><a href="#">UI/UX</a></li>
                <li><a href="#">平面</a></li>
                <li><a href="#">插画/漫画</a></li>
                <li><a href="#">家具/家装</a></li>
                <li><a href="#">女装/搭配</a></li>
                <li><a href="#">男式/风尚</a></li>
                <li><a href="#">婚礼</a></li>
            </ul>
            <ul class=" lf">
                <li><a href="#">工业设计</a></li>
                <li><a href="#">摄影</a></li>
                <li><a href="#">造型/美装</a></li>
                <li><a href="#">美食</a></li>
                <li><a href="#">旅行</a></li>
                <li><a href="#">手工/布艺</a></li>
                <li><a href="#">健身/舞蹈</a></li>
            </ul>
            <ul class=" lf">
                <li><a href="#">儿童</a></li>
                <li><a href="#">宠物</a></li>
                <li><a href="#">美图</a></li>
                <li><a href="#">明星</a></li>
                <li><a href="#">美女</a></li>
                <li><a href="#">礼物</a></li>
                <li><a href="#">极客</a></li>
            </ul>
            <ul class=" lf">
                <li><a href="#">动漫</a></li>
                <li><a href="#">建筑设计</a></li>
                <li><a href="#">人文艺术</a></li>
                <li><a href="#">数据图</a></li>
                <li><a href="#">游戏</a></li>
                <li><a href="#">汽车/摩托</a></li>
                <li><a href="#">电影/图书</a></li>
            </ul>
            <ul class=" lf">
                <li><a href="#">生活百科</a></li>
                <li><a href="#">教育</a></li>
                <li><a href="#">运动</a></li>
                <li><a href="#">搞笑</a></li>
            </ul>
        </div>
    </div>

</div>


<footer id="footer">
    <div>
        <ul>
            <li><a href="#" class="title">花瓣首页</a></li>
            <li><a href="#">花瓣采集工具</a></li>
            <li><a href="#">花瓣官方博客</a></li>
        </ul>
        <ul>
            <li><a href="#" class="title">联系与合作</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">用户反馈</a></li>
            <li><a href="#">花瓣LOGO标准文档</a></li>
        </ul>
        <ul>
            <li><a href="#" class="title">移动客户端</a></li>
            <li><a href="#">花瓣 iPhone 版</a></li>
            <li><a href="#">花瓣 Android 版</a></li>
            <li><a href="#">花瓣 HD</a></li>
        </ul>
        <div class="rt">
            <a href="#" class="title">关注我们</a><br>
            <a href="#">新浪微博：@花瓣网</a><br>
            <a href="#">官方 QQ：2326568870</a><br>
            <a href="#" class="gfwx">官方微信：<img src="img/sweixin.png">
                <img src="img/weixin_huaban.png" class="wx">
            </a><br>
            <a href="#"><img src="img/sm.png"></a>
        </div>
    </div>
    <div class="bottom">
        <p>© Huaban 杭州纬聚网络有限公司&nbsp;&nbsp;|&nbsp;&nbsp;浙公网安备 33010602001878号</p>
    </div>
</footer>
<!-- 模态框- 登录界面 -->
<div class="modal_login">
    <div class="modal-content">
        <a id="close">×</a>

        <div class="modal-container">
            <h1><img src="images/logo1.svg" alt=""/></h1>

            <div class="with-line">使用第三方账号登录</div>
            <div class="btn-group">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
            <div class="with-line">使用手机号/邮箱登录</div>
            <form action="">
                <input type="text" placeholder="输入手机号或者邮箱" id="userphone"/>
                <input type="password" placeholder="密码" id="userpwd"/>
                <p class="erro"></p>
                <a href="#" class="btn-login">登录</a>
            </form>
            <p>
                <a href="#">忘记密码&gt;&gt;</a>
                <span>还没有花瓣账号？<a href="#">点击注册&gt;&gt;</a></span>
            </p>
        </div>
    </div>
</div>
<!-- 模态框- 注册界面 -->
<div class="modal_regist">
    <div class="modal-content">
        <a id="regist_close">×</a>

        <div class="modal-container">
            <h1><img src="images/logo1.svg" alt=""/></h1>

            <div class="with-line">使用手机号注册</div>
            <form action="">
                <input type="num" placeholder="输入手机号" maxlength="11" required id="phone"
                       autofocus/>
                <input type="password" placeholder="输入密码" required id="upwd"/>
                <input type="password" placeholder="确认密码" required id="reupwd"/>
                <p class="erro"></p>
                <!--<div id="verification"></div>-->
                <a href="#" class="btn-regist">注册</a>
            </form>

        </div>
    </div>
</div>



<!--附着右边栏-->
<aside>
    <div class="elevator_item">
        <a href="#" title="回到顶部"></a>
        <div class="group_item ">
            <a href="#"></a>
            <div class="elevator_group fade">

            <a href="#"><b></b>添加采集</a>

            <a href="#"><b></b>添加画板</a>

            <a href="#"><b></b>安装采集工具</a>
        </div>
        </div>
    </div>

<!--右下角广告-->
<div class="botton_banner">
    <img src="" alt=""/>
</div>
</aside>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/index-find.js"></script>
<script type="text/javascript">
    var gathreinfo = new Vue({
        el: '#waterfall',
        computed: {},
        data: function () {
            return {
                pageNo: 0,
                total: 0,
                gathers: [{
                    gid: 0,
                    img: "",
                    transpondUid: 0,
                    transpond: 0,
                    love: 0,
                    hid: 0,
                    details: "",
                    hname: "",
                    user: {
                        uid: 0,
                        uname: "",
                    }
                }]
            };
        },
        created: function () {
            window.addEventListener('scroll', this.skinwheel, true); //加载滚动监听事件
            this.loadGather()
        },
        watch: {
            gathers: function () {
                setTimeout(function () {
                    waterFall("waterfall", "wfc");
                }, 500);
            },
            $route: function () {
                this.gathers = [];
                this.loadGather();
            }
        },
        mounted: function () {

        },
        methods: {
            loadGather: function () {
                var fid = sessionStorage['followId'];//获取画板id
                $.ajax({
                    type: "get",
                    url: "/huaban/tuijians",
                    dataType: "json",
                    success: function (data) {
                        gathreinfo.gathers = (data);
                        console.log(gathreinfo.gathers);
                    }
                });
            },
            getUserImg: function (img) {
                return img == null ? "img/654953460733026a7ef6e101404055627ad51784a95c-B6OFs4_sq140sf.png" : "img/" + img;
            },
            getGatherImg: function (img) {
                return "img/" + img;
            },
            skinwheel(event) {
                if (this.pageNo + 1 * 10 > this.total) return;
                console.log(event);
                let vm = this
                var height = $("#waterfall").height();
                console.log(height);
                console.log(event.pageY);
                if (event.pageY > height - document.documentElement.clientHeight) {
                    this.pageNo = this.pageNo + 1;
                    this.loadGather();
                }
            },
        },
    });

    // 瀑布流函数
    function waterFall(parent, child) {
        // 父盒子居中，取得所有父盒字
        //先获得父元素及其底下所有的子元素
        var oParent = document.getElementById(parent);
        if (oParent == null) return;
        var allBox = oParent.getElementsByClassName(child);
        //    获取子盒子高度
        //    var boxWidth = allBox[0].offsetWidth;
        var boxWidth = allBox[0].offsetWidth;
        // 求出列数
        var cols = oParent.offsetWidth / boxWidth - 1;
        var xyMargin = 16;
        //    定义高度数组
        var arrH = [];

        // 遍历盒子
        for (var i = 0; i < allBox.length; i++) {
            // 求出每个盒子的高度
            var boxH = allBox[i].offsetHeight + xyMargin;
            if (i < cols) {
                // heightArr.push(boxHeight); //第一行
                arrH.push(boxH);
                allBox[i].style.position = "absolute";
                allBox[i].style.left = i * (boxWidth + xyMargin) + 'px';
                allBox[i].style.top = xyMargin + 'px';
            } else {
                // 取出最矮的盒子高度
                var minH = Math.min.apply(null, arrH);
                //求出最矮盒子的对应所引
                var minIndex = getMinBoxIndex(arrH, minH);
                //子盒子定位
                allBox[i].style.position = 'absolute';
                allBox[i].style.left = minIndex * (boxWidth + xyMargin) + 'px';
                allBox[i].style.top = minH + xyMargin + 'px';
                arrH[minIndex] += boxH;
            }
        }
        // 更新父盒子的高度
        var parentHeight = allBox[allBox.length - 1].offsetTop + allBox[allBox.length - 1].offsetHeight;
//        alert(parentHeight);
        oParent.style.height = parentHeight + "px";
    };

    //获取最小下标函数
    function getMinBoxIndex(arr, min) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === min) {
                return i;
            }
        }
    }
</script>
</body>
</html>