<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>欣赏_摄影图片大全_花瓣网</title>
	<link rel="stylesheet" type="text/css" href="css/currency.css">
	<link rel="stylesheet" href="css/common.css"/>
	<link rel="stylesheet" href="css/Main.css"/>
	<script src="js/jquery-1.12.4.js" type="text/javascript"></script>
	<script src="js/petal_bizi.js" type="text/javascript"></script>
</head>
<body>
	<!-- 网页主页面 -->
	<div id="page">
		<!-- 上端推广 -->
		<div id="top_promotion">
			<a href="#">
				<img src="img/f3bbc793fb39a3ceb8729d931e0b614f6a94d1c5af86.png" alt="">
			</a>
			<div class="close"></div>
		</div>
		<!-- 最上头部 -->
		<div class="header_nav " id="nav_top">
				<div class="container">
					<div id="header" class="" style="left: 0px;">
						<div class="wrapper" style="width: 992px;">
							<div class="menu-bar">
								<div class="left-part">
									<a id="huaban" href="/"></a>
									<a href="index-find1.html" data-title="home" class="header-item ">首页</a>
									<a href="faxian.html" class="header-item ">发现</a>
									<a href="petal_bizi.html" class="header-item active">最新</a>
									<div class="menu-nav">
										<div class="header-main-menu">
											<div class="top-module">
												<a href="http://meia.me" target="_blank" rel="noopener noreferrer" class="text app-link meia">教育</a>
												<a href="/apps/" rel="nofollow" class="text app-link">移动应用</a>
												<a href="/about/goodies/" rel="nofollow" class="text repin-link">采集工具</a>
											</div>
											<div id="category_more" class="middle-module clearfix">
												<div class="col-1 col">
													<a href="/favorite/web_app_icon/" rel="nofollow" data-id="web_app_icon" class="category-link">UI/UX</a>
													<a href="/favorite/design/" rel="nofollow" data-id="design" class="category-link">平面</a>
													<a href="/favorite/illustration/" rel="nofollow" data-id="illustration" class="category-link">插画/漫画</a>
													<a href="/favorite/home/" rel="nofollow" data-id="home" class="category-link">家居/家装</a>
													<a href="/favorite/apparel/" rel="nofollow" data-id="apparel" class="category-link">女装/搭配</a>
												</div>
												<div class="col-2 col">
													<a href="/favorite/men/" rel="nofollow" data-id="men" class="category-link">男士/风尚</a>
													<a href="/favorite/wedding_events/" rel="nofollow" data-id="wedding_events" class="category-link">婚礼</a>
													<a href="/favorite/industrial_design/" rel="nofollow" data-id="industrial_design" class="category-link">工业设计</a>
													<a href="/favorite/photography/" rel="nofollow" data-id="photography" class="category-link">摄影</a>
													<a href="/categories/" rel="nofollow" data-id="more" class="all-categories-link category-link">兴趣/生活 »</a>
												</div>
											</div>
											<div class="bottom-module clearfix">
												<div icon="pin-icon" onclick="app.switchHeaderTo('side');return false;" class="to-side"></div>
												<div class="links">
													<a href="/about/" rel="nofollow">关于</a><span>·</span>
													<a href="https://faq.huaban.com/" target="_blank" rel="noopener noreferrer">帮助中心</a><span>·</span>
													<a href="/pins/53553/" rel="nofollow">反馈</a><span>·</span>
													<a href="https://blog.huaban.com/" rel="nofollow" style="margin-right: 0;">博客</a>
												</div>
												<div class="up-arrow"></div>
											</div>
										</div>
									</div>
									<a class="header-item cut-off"></a>
									<a href="/activities/" rel="nofollow" class="header-item">活动</a>
									<a href="http://www.meisupic.com/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣美素" class="header-item meisu">美素</a>
									<a href="https://muse.huaban.com/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣美思" class="header-item meisi">设计服务</a>
									<a href="http://live.huaban.com/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣LIVE" class="header-item live">花瓣LIVE</a>
									<a href="/partner/meiwu/?hmsr=hbnavi" target="_blank" rel="noopener noreferrer" title="花瓣美物" class="header-item">美物</a>
								</div>
								<div class="right-part">
									<a style="display: none" href="#" onclick="return false;" class="go-mobile btn rbtn"><span class="text"> 访问移动版</span></a>
									<div class="login-nav">
										<a onclick="app.requireLogin('', {to: 'login'});return false;" rel="nofollow" href="#" class="login bounce btn wbtn"><span class="text"> 登录</span></a>
							<a href="/signup/" onclick="app.requireLogin();return false;" rel="nofollow" class="register bounce btn rbtn"><span class="text"> 注册</span></a>
									</div>
								</div>
								<div style="padding-top: 3px;">
									<form id="search_form" method="get" action="/search/" class="searching-unit" data-regestered="regestered">
										<div data-value="pins" class="SelectOption">
											<div class="line">
												<div class="text">采集</div><i class="icon"></i></div>
										</div><input id="query" type="text" size="27" name="q" autocomplete="off" placeholder="搜索你喜欢的" value="" style="padding-left: 68px;"><input name="type" value="" type="hidden">
										<a href="#" onclick="return false;" class="go"></a>
									</form>
									<div class="search-hint"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="nav-search lf">
						<input type="text" placeholder="搜索你喜欢的" />
						<a href="" class=""></a>
					</div>

				</div>
			</div>
		<!-- 页首标注 -->
		<div id="callout"></div>
		<!-- 头部信息推广 -->
		<div class="information">
			<div class="information_bg">
				<div class="gradient"></div>
				<img class="bg_img" src="img/10x1 (4).jpg" alt="">
			</div>
			<div class="wrapper information_info">
				<h1 class="title" id="hhh"></h1><!--标题-->
				<a class="btn follow" href="#"><span class="text">关注</span></a>
				<div class="info"></div><!--内容-->
				<div class="follow_title">
					<i class="icon"></i>
					<span>Ta 们已关注</span>
				</div>
				<div class="followers">
					<!--<a class="followers_item" href="">
						<img src="img/120ee4e926f1acbe382a4f7dd88887decf7accbdd78-xq2Spy_sq140sf.jpg">
					</a>-->
				</div>
			</div>
		</div>
		<!-- 投稿图标 -->
		<div class="wrapper">
			<a class="explore-join-btn" href="#"></a>
		</div>
		<!-- 主体内容 -->
		<div id="main">
			<!-- 更多推荐 -->
			<div class="more_explore">
				<div class="wrapper">
					<!-- 更多发现 -->
					<div class="more_explore_title">
						<i class="icon1"></i>
						<span>更多发现</span>
					</div>
					<div class="more_explore_nav">
						<a class="nav_image" href="#">
							<div class="blur">
								<img src="img/b22773c6f350b058ef29766edb2580a4c3b3535ef313b-ECuimx_sq236bl4.jpg">
							</div>
							<div class="title">苔藓微景观</div>
						</a>
						<a class="nav_image" href="#">
							<div class="blur">
								<img src="img/76db38c2eb7c5de4fbb76b0a1cf8c5dec96f55a7e07b-49E4P1_sq236bl4.jpg">
							</div>
							<div class="title">逆光摄影</div>
						</a>
						<a class="nav_image" href="#">
							<div class="blur">
								<img src="img/24a7f54d5a243ab069d3d12f75e43f0b7661dfdc1c57e-auDXUQ_sq236bl4.jpg">
							</div>
							<div class="title">lomo摄影</div>
						</a>
						<a class="nav_image" href="#">
							<div class="blur">
								<img src="img/40b8071005380eaa0b1b2efbb8ee2ec16444f43aa3ebe-ILUkTD_sq236bl4.jpg">
							</div>
							<div class="title">人像摄影</div>
						</a>
						<a class="nav_image" href="#">
							<div class="blur">
								<img src="img/9fa310d84986108196fe9b64578b6a241d5bc7342d01b-tX6WKD_sq236bl4.jpg">
							</div>
							<div class="title">多肉植物</div>
						</a>
						<!--<a class="nav_image" href="#">
							<div class="blur">
								<img src="img/46016b0fba0326cdfbca78e66263259e11c526c4323c8-YGK0nZ_sq236bl4.jpg">
							</div>
							<div class="title">日系摄影</div>
						</a>-->
					</div>
				</div>
			</div>
			<div class="wrapper" style="width: 1200px">
				<div id="waterfall" style="width: 1200px">
					<!--加载数据-->
					<div data-id="341535979" v-for="gather in gathers" v-if="gather.gid != 0" class="pin wfc "
						 style="position: absolute; left: 0; top: 0; opacity: 1;">
						<div class="hidden">
							<a href="/s555888_/">{{gather.user.uname}}</a>采集到
							<a href="/boards/4036688">{{gather.hname}}</a>
						</div>
						<div class="actions">
							<div class="right">
								<a data-id="341535979" title="喜欢" href="#" onclick="return false;"
								   class="like btn-with-icon btn btn14"><i class="heart"></i><span class="text"> {{gather.love}}</span></a>
							</div>
							<div class="left">
								<a onclick="app.requireLogin(function(){ app.showDialogBox('repin', {pin_id:'341535979'});});return false;"
								   href="#" class="repin pin-default btn btn14 rbtn">
									<span class="text"> 采集</span></a>
								<a href="#" onclick="return false;" class="repin pin-quick btn btn14 rbtn"><img
										src="img/quick_pin.svg"></a>
							</div>
						</div>
						<a :href="'http://localhost:8080/huaban/info.html?gid='+gather.gid" target="_self" rel=""
						   class="img x layer-view loaded">
							<div class="default-bg">pinterest.com</div>
							<img :src="getGatherImg(gather.img)" width="236" height="100%">
							<span style="display: none" class="stop"></span>
							<div class="cover"></div>
						</a>
						<p class="description">{{gather.details}}</p>
						<p class="stats less"><span title="转采" class="repin"><i></i>{{gather.transpond}}</span><span
								title="喜欢" class="like"><i></i>{{gather.love}}</span></p>
						<div class="convo attribution clearfix">
							<a href="/s555888_/" :title="gather.user.uname" rel="nofollow" class="img x"><img
									:src="getUserImg(gather.user.img)" class="avt"></a>
							<div class="text">
								<div class="inner">
									<div class="line">
										<a href="/s555888_/" rel="" class="author x">{{gather.user.uname}}</a>&nbsp;采集到
									</div>
									<div class="line">
										<a href="/boards/4036688/" rel="" class="x">{{gather.hname}}</a>
									</div>
									<a title="评论" class="replyButton"></a>
								</div>
							</div>
						</div>
						<div style="display:none;" class="comments muted"></div>
						<div style="display: none;" class="write convo clearfix">
							<a href="//" title="" class="img x"><img :src="gather.img"></a>
							<form action="" method="POST"><textarea placeholder="添加评论或把采集@给好友"
																	class="clear-input GridComment"></textarea>
								<a href="#" onclick="return false;" class="grid_comment_button btn"><span class="text"> 添加评论</span></a>
							</form>
						</div>
					</div>
					<!--加载数据结尾-->
				</div>
			</div>
		</div>
	</div>
	<!--<footer id="footer"></footer>-->
	<script src="js/vue.js"></script>
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script src="js/masonry.pkgd.js"></script>
	<script type="text/javascript" src="js/allLIst.js"></script>
	<script type="text/javascript">
        var gathreinfo = new Vue({
            el: '#waterfall',
            computed: {},
            data: function () {
                return {
                    pageNo: 0,
                    total: 0,
                    gathers: [{
                        gid: 0,
                        img: "",
                        transpondUid: 0,
                        transpond: 0,
                        love: 0,
                        hid: 0,
                        details: "",
                        hname: "",
                        user: {
                            uid: 0,
                            uname: "",
                        }
                    }]
                };
            },
            created: function () {
                window.addEventListener('scroll', this.skinwheel, true); //加载滚动监听事件
                this.loadGather()
            },
            watch: {
                gathers: function () {
                    setTimeout(function () {
                        waterFall("waterfall", "wfc");
                    }, 500);
                },
                $route: function () {
                    this.gathers = [];
                    this.loadGather();
                }
            },
            mounted: function () {

            },
            methods: {
                loadGather: function () {
                    var fid = sessionStorage['followId'];//获取画板id
                    $.ajax({
                        type: "get",
                        url: "/huaban/gathers",
                        data: {"hid": fid},
                        dataType: "json",
                        success: function (data) {
                            gathreinfo.gathers = (data);
                            console.log(gathreinfo.gathers);
                        }
                    });
                },
                getUserImg: function (img) {
                    return img == null ? "img/654953460733026a7ef6e101404055627ad51784a95c-B6OFs4_sq140sf.png" : "img/" + img;
                },
                getGatherImg: function (img) {
                    return "img/" + img;
                },
                skinwheel(event) {
                    if (this.pageNo + 1 * 10 > this.total) return;
                    console.log(event);
                    let vm = this
                    var height = $("#waterfall").height();
                    console.log(height);
                    console.log(event.pageY);
                    if (event.pageY > height - document.documentElement.clientHeight) {
                        this.pageNo = this.pageNo + 1;
                        this.loadGather();
                    }
                },
            },
        });

        // 瀑布流函数
        function waterFall(parent, child) {
            // 父盒子居中，取得所有父盒字
            //先获得父元素及其底下所有的子元素
            var oParent = document.getElementById(parent);
            if (oParent == null) return;
            var allBox = oParent.getElementsByClassName(child);
            //    获取子盒子高度
            //    var boxWidth = allBox[0].offsetWidth;
            var boxWidth = allBox[0].offsetWidth;
            // 求出列数
            var cols = oParent.offsetWidth / boxWidth - 1;
            var xyMargin = 16;
            //    定义高度数组
            var arrH = [];

            // 遍历盒子
            for (var i = 0; i < allBox.length; i++) {
                // 求出每个盒子的高度
                var boxH = allBox[i].offsetHeight + xyMargin;
                if (i < cols) {
                    // heightArr.push(boxHeight); //第一行
                    arrH.push(boxH);
                    allBox[i].style.position = "absolute";
                    allBox[i].style.left = i * (boxWidth + xyMargin) + 'px';
                    allBox[i].style.top = xyMargin + 'px';
                } else {
                    // 取出最矮的盒子高度
                    var minH = Math.min.apply(null, arrH);
                    //求出最矮盒子的对应所引
                    var minIndex = getMinBoxIndex(arrH, minH);
                    //子盒子定位
                    allBox[i].style.position = 'absolute';
                    allBox[i].style.left = minIndex * (boxWidth + xyMargin) + 'px';
                    allBox[i].style.top = minH + xyMargin + 'px';
                    arrH[minIndex] += boxH;
                }
            }
            // 更新父盒子的高度
            var parentHeight = allBox[allBox.length - 1].offsetTop + allBox[allBox.length - 1].offsetHeight;
            oParent.style.height = parentHeight;
        };

        //获取最小下标函数
        function getMinBoxIndex(arr, min) {
            for (var i = 0; i < arr.length; i++) {
                if (arr[i] === min) {
                    return i;
                }
            }
        }
	</script>
</body>
</html>
